<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="components/user.js"></script>
  <title>Index</title>
</head>
<body>
  <header>
    <div style="height:100px;"></div>
  </header>

  <div id='app' class="container">
    <user></user>
    <h3 class="mt-3">Users: {{users.length}}</h3>
    <ul class="mt-3">
      <li v-for="user in users">
        <div>{{user.id}} - {{user.created_at}} - {{user.email}}
          <button style="height:30px;margin:10px;" :id="user.id" type="button" @click="del" class="btn btn-primary">delete</button>
        </div>
        <ul>
          <li v-for="property in properties" v-if="property.user_id === user.id">
              {{property.id}} - {{property.built_type}} - {{property.city}}
          </li>
        </ul>
      </li>
    </ul>
    <h3>Properties: {{properties.length}}</h3>
    <ul class="mt-3">
      <li v-for="property in properties">
        <div>{{property.id}} - {{property.built_type}} - {{property.city}} - {{property.user_id}}</div>
      </li>
    </ul>

    

  </div>
  
  <script src="app.js"></script>
</body>
</html>
